

.signup-form{
    /* display:flex;
    flex-direction:column;
    justify-content:space-between; */
    width:500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:2px solid white;
    border-radius:24px;
    padding:2em;
    text-align: center;
 
  
    
}

.signup-form input{
    background-color:transparent;
    border:2px solid white;
    border-radius:7px;
    /* padding: 20px 10px; */
    font-size:1rem;
    /* margin:20px auto; */
    margin: 20px auto;
  padding: 20px 10px;
  width: 280px;
  transition: 0.25s;
  color:white;
  text-align: center;

}

.signup-form input:focus{
    width:400px;
}

.signup-form button{
    background:none;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 4px;
    font-family: "Ubuntu";
    color: #ffffff;
    font-size: 25px;
    width:300px;
    padding: 15px 21px 16px 21px;
    border: solid #ffffff 2px;
    text-decoration: none;
    transition: 0.25s;
    cursor:pointer;
    margin:20px auto;
    margin-top: 30px;
}
  
  .signup-form button:hover {
    background:none;
    text-decoration: none;
    width:380px;
  }

